body {
    background-color: #0d1b1e;

    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}


.logo {
    width: 50px;
    height: 50px;
}

header {
    background-color: #0d1b1e;
}

header a {
    color: #fff076;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    height: 75px;
}



/* MAIN CONTENT */

/*thneed box */
/* William */
.first {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.thneed_box {
    background-color: #96c5f7;
}

#thneed_title {
    color: #0d1b1e;
}

#thneed_paragraph {
    color: #0d1b1e;
}

.thneed_box a {
    color: #0d1b1e;
    text-decoration: none;
}

/* car box */

.second {
    background-image: url(../images/car.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

.car_box {
    color: #96C5F7;
    width: 600px;

}


/* oil and fashoon box  */
/* Aaron */

.third {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mid_box {
    background-color: #F4AFB4;
    width: 500px;
    color: #0d1b1e;
}

.oil {
    width: 200px;
}

.fashion {
    width: 200px;
}

